@import url("https://fonts.googleapis.com/css2?family=Oxygen&family=Prompt:wght@500;700&display=swap");
* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, p, a, ul {
  color: #D0CBCB;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #252627;
  font-family: "Oxygen", sans-serif;
}

header {
  position: relative;
}

h1 {
  font-family: "Prompt", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

h2, h3 {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
}

main {
  width: clamp(160px, 100%, 900px);
  margin: auto;
  transition: opacity 0.3s;
  padding: 0.7rem;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #252627;
}

::-webkit-scrollbar-thumb {
  background: #D0CBCB;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.bubble-menu {
  display: none;
  opacity: 0;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 4rem;
  right: 0.5rem;
  margin-right: 1rem;
  z-index: 10;
  transition: 1s ease-in-out;
}

fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 1.5rem;
}

.section-selector {
  border: 0.2rem solid #D0CBCB;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 3rem;
  padding: 0 0.1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-wrap: break-word;
}

.skills,
.portfolio {
  background-color: #087E8B;
}

.about,
.contacts {
  background-color: #A23415;
}

.hamburger-menu-container, .arrow-up-container {
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 2rem;
  border: 0.2rem solid #D0CBCB;
  background-color: #252627;
  position: fixed;
  z-index: 10;
  bottom: 1.5rem;
  right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-menu-container, .arrow-up-container {
  top: 1rem;
  right: 1rem;
}

.hamburger-menu-opt {
  position: absolute;
  width: 4.5rem;
  height: 4.5rem;
  opacity: 0;
  cursor: pointer;
}

.opener-opt,
.closer-opt {
  width: 3rem;
  height: 3rem;
}

.opener-opt {
  z-index: 11;
}

.closer-opt {
  z-index: 9;
}

.arrow-up-container {
  bottom: 1.5rem;
  right: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-up-container img {
  width: 100%;
  height: 90%;
}

.hamburger-lines {
  display: block;
  height: 1.3rem;
  width: 2rem;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #D0CBCB;
}

.hamburger-lines .line {
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background: #D0CBCB;
}

.hamburger-menu-container .hamburger-lines .line1, .arrow-up-container .hamburger-lines .line1 {
  transform-origin: 10% 0%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-menu-container .hamburger-lines .line2, .arrow-up-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.hamburger-menu-container .hamburger-lines .line3, .arrow-up-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-menu-container #opener[type=radio]:checked ~ .bubble-menu, .arrow-up-container #opener[type=radio]:checked ~ .bubble-menu {
  display: flex;
  opacity: 1;
}

.hamburger-menu-container #opener[type=radio]:checked + .closer-opt, .arrow-up-container #opener[type=radio]:checked + .closer-opt {
  z-index: 11;
}

body:has(.hamburger-menu-container #opener[type=radio]:checked, .arrow-up-container #opener[type=radio]:checked) main {
  opacity: 0.07;
}

.hamburger-menu-container #opener[type=radio]:checked ~ .hamburger-lines .line1, .arrow-up-container #opener[type=radio]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.hamburger-menu-container #opener[type=radio]:checked ~ .hamburger-lines .line2, .arrow-up-container #opener[type=radio]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.hamburger-menu-container #opener[type=radio]:checked ~ .hamburger-lines .line3, .arrow-up-container #opener[type=radio]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.navbar-container {
  display: none;
  width: 100%;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 11;
}

.navbar-menu {
  list-style-type: none;
  display: none;
  justify-content: space-around;
  align-items: center;
  padding-top: 0.4rem;
  width: 100%;
  background-color: #252627;
  box-shadow: 0 1px 10px 1px #D0CBCB;
  border-bottom: 1px solid #D0CBCB;
  opacity: 0;
}

.navbar-menu li:hover {
  text-decoration: underline;
}
.navbar-menu li:last-child {
  margin-right: 3rem;
}

.logo-menu {
  fill: #D0CBCB;
  width: 5rem;
  height: 3rem;
}

.navbar-toggle-decoration {
  display: none;
  position: fixed;
  right: -3.8rem;
  top: -3.8rem;
  border: 0.2rem solid #D0CBCB;
  width: 8rem;
  height: 8rem;
  border-radius: 150rem;
  background-color: #252627;
  transition: 0.3s;
  z-index: 99;
}

.navbar-toggle,
.navbar-lines {
  position: fixed;
  top: 0.7rem;
  right: 0.5rem;
  z-index: 100;
  cursor: pointer;
}

.navbar-lines {
  opacity: 0.5;
}

.navbar-toggle:hover ~ .navbar-lines {
  opacity: 1;
}

.navbar-lines {
  display: flex;
  height: 1.5rem;
  width: 2.3rem;
  z-index: 99;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #D0CBCB;
}

.navbar-lines .line {
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background: #D0CBCB;
}

.navbar-toggle {
  position: fixed;
  top: 0.7rem;
  right: 0.5rem;
  height: 2rem;
  width: 2rem;
  opacity: 0;
  z-index: 100;
  cursor: pointer;
}

#navbar-toggle[type=checkbox]:checked ~ .navbar-menu {
  display: flex;
  opacity: 1;
}

#navbar-toggle[type=checkbox]:checked + .navbar-toggle-decoration {
  opacity: 0;
}

#navbar-toggle[type=checkbox]:checked ~ .navbar-lines .line1 {
  transform: rotate(45deg);
}

#navbar-toggle[type=checkbox]:checked ~ .navbar-lines .line2 {
  transform: scaleY(0);
}

#navbar-toggle[type=checkbox]:checked ~ .navbar-lines .line3 {
  transform: rotate(-45deg);
}

.navbar-lines .line1 {
  transform-origin: 10% 0%;
  transition: transform 0.4s ease-in-out;
}

.navbar-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.navbar-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  fill: #D0CBCB;
  width: 7rem;
  margin-bottom: 1rem;
}

.easter-egg-container {
  display: inline;
}

.easter-egg-container:hover .psychologist {
  display: none;
}

.easter-egg {
  display: none;
  position: relative;
}

.easter-egg-tooltip {
  display: inline-block;
  position: absolute;
  top: 3.2rem;
  right: 0.5rem;
  font-family: "Oxygen", sans-serif;
  font-size: 0.7rem;
  border: 1px solid #D0CBCB;
  width: 45%;
}

.easter-egg-container:hover .easter-egg {
  display: inline;
}

.contacts-section, .portfolio-section, .skills-section, .about-section, .summa-section {
  margin-bottom: 3rem;
  width: clamp(160px, 100%, 900px);
}

.summa-section,
.about-content,
.skills-content,
.contacts-content {
  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: 1rem;
  text-align: center;
}

.summa-section {
  border: 0.2rem solid #D0CBCB;
  align-items: center;
  margin-bottom: 3rem;
  padding: 0.7rem;
  border-radius: 0.5rem;
}

.alessandro-fabbian-picture {
  flex: 1;
}
.alessandro-fabbian-picture img {
  width: 100%;
  border-radius: 0.5rem;
}

.brief-description {
  width: clamp(160px, 100%, 900px);
  flex: 1;
}
.brief-description h2 {
  text-align: center;
}

.about-section h2 {
  margin-bottom: 1rem;
}
.about-section h3 {
  border-bottom: 1px solid #D0CBCB;
  margin-bottom: 0.7rem;
}
.about-section div {
  flex: 1;
  padding: 0.7rem;
  border-radius: 0.5rem;
}

.humanworld {
  background-color: #A23415;
  margin-bottom: 1rem;
}
.humanworld ul {
  list-style-type: circle;
  margin-left: 1rem;
}
.humanworld a {
  text-decoration: underline;
}

.techworld {
  background-color: #087E8B;
}

.skills-section div {
  flex: 1;
  padding: 0.7rem;
  border-radius: 0.5rem;
}
.skills-section h2 {
  margin-bottom: 1rem;
}
.skills-section h3 {
  border-bottom: 1px solid #D0CBCB;
  margin-bottom: 0.7rem;
}
.skills-section a:hover {
  text-decoration: underline;
}

.soft-skills-container {
  background-color: #A23415;
  margin-bottom: 1rem;
  order: 1;
}

.soft-skills-icons {
  display: flex;
  flex-wrap: wrap;
}
.soft-skills-icons svg {
  fill: #D0CBCB;
  max-width: 5rem;
}
.soft-skills-icons > div {
  flex-basis: 50%;
}

.soft-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.soft-skill p {
  padding-top: 0.5rem;
  text-align: center;
}

.teamwork {
  margin-top: 0.7rem;
}

.training > p {
  margin-top: 0.7rem;
}

.hard-skills-container {
  background-color: #087E8B;
  order: 2;
  display: flex;
  flex-direction: column;
}

.hard-skills-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hard-skills-content > p {
  font-size: 0.7rem;
}

.hard-skills-icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.web-developing-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.web-developing-skills svg {
  fill: #D0CBCB;
  max-width: 6rem;
}

.portfolio-section {
  margin-bottom: 3rem;
}
.portfolio-section h2 {
  margin-bottom: 1rem;
}

.portfolio-container {
  padding: 0.7rem;
}

.portfolio-content {
  background-color: #087E8B;
  height: 12rem;
  border-radius: 0.5rem;
  padding: 2.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-content p {
  text-align: center;
}

.contacts-section {
  padding: 0.7rem;
}
.contacts-section h2 {
  text-align: center;
  padding-bottom: 1rem;
}
.contacts-section .contacts-content {
  background-color: #A23415;
  border-radius: 0.5rem;
  padding: 0.7rem;
}

.social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.7rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #D0CBCB;
  flex: 1;
}

.git-link,
.linkedin-link {
  width: 5rem;
}
.git-link svg,
.linkedin-link svg {
  fill: #D0CBCB;
}
.git-link:hover svg,
.linkedin-link:hover svg {
  fill: #fff;
}

.contacts-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.contacts-form > * {
  margin: 0.7rem;
  width: 70%;
  background: transparent;
  color: #D0CBCB;
  font-size: 0.9rem;
  border-bottom: 1px solid #D0CBCB;
  font-family: "Oxygen", sans-serif;
}
.contacts-form > *:focus {
  outline: none;
  border: 1px solid #D0CBCB;
  border-radius: 0.5rem;
  box-shadow: inset 0 1px 7px 1px #D0CBCB;
}
.contacts-form > ::placeholder {
  font-family: "Oxygen", sans-serif;
  color: #D0CBCB;
}
.contacts-form input {
  padding: 0.5rem;
  width: 70%;
}
.contacts-form textarea {
  padding: 0.5rem;
  height: 5rem;
  width: 70%;
  resize: none;
}
.contacts-form button {
  width: 20%;
  border: 1px solid #D0CBCB;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.contacts-form button:hover {
  background-color: white;
  cursor: pointer;
  color: #A23415;
  box-shadow: 0 1px 10px 1px #D0CBCB;
}

.curriculum-title {
  padding-top: 3rem;
}
.curriculum-title a:hover {
  text-decoration: underline;
}

.cv-section-container {
  position: relative;
}
.cv-section-container h2 {
  padding-right: 1rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  vertical-align: center;
}
.cv-section-container input {
  position: absolute;
  z-index: 100;
  width: 2rem;
  height: 2rem;
  opacity: 0;
  cursor: pointer;
}
.cv-section-container input[type=checkbox]:checked ~ svg {
  transform: rotate(-180deg);
}
.cv-section-container svg {
  width: 2rem;
  fill: #D0CBCB;
  transition: transform 0.5s;
  display: inline-block;
  margin-top: 0.2rem;
  vertical-align: top;
}

.cv-section {
  margin-bottom: 3rem;
  width: clamp(160px, 100%, 900px);
  background-color: #D0CBCB;
  padding: 0.7rem;
  height: 5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}
.cv-section p {
  color: #252627;
}

.cv-section > div {
  margin-bottom: 0.5rem;
}
.cv-section > div ul {
  color: #252627;
  list-style-type: circle;
  margin-left: 1rem;
}
.cv-section > div a {
  color: #252627;
}

#education:checked ~ .education {
  height: 39rem;
}

#career:checked ~ .career {
  height: 27rem;
}

#pubblications:checked ~ .pubblications {
  height: 59rem;
}

#volunteering:checked ~ .volunteering {
  height: 11rem;
}

#languages:checked ~ .languages {
  height: 22.5rem;
}

.education {
  transition: height 1.5s linear 0s;
}

.career {
  transition: height 1s linear 0s;
}

.pubblications {
  transition: height 3s linear 0s;
}

.volunteering {
  transition: height 0.7s linear 0s;
}

.languages {
  transition: height 1s linear 0s;
}

.cvpart-title {
  font-family: "Prompt", sans-serif;
  font-weight: 700;
}

.cvpart-subtitle {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.cvpart-content {
  font-family: "Oxygen", sans-serif;
}

.cvpart-content span {
  font-style: italic;
  color: #252627;
}

.home-container {
  right: 9rem;
}
.home-container svg {
  width: 60%;
  fill: #D0CBCB;
}

.cv-section-selector {
  height: 2rem;
  width: 105%;
  background-color: #252627;
}

@media only screen and (min-width: 701px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  .main-title {
    padding-top: 5rem;
  }
  .summa-section,
  .about-content,
  .skills-content {
    flex-direction: row;
    gap: 1rem;
  }
  .contacts-content {
    flex-direction: row;
  }
  .contacts-content .social-media {
    border-bottom: none;
    border-right: 1px solid #D0CBCB;
    margin-bottom: 0;
  }
  .humanworld,
  .soft-skills-container {
    margin-bottom: 0;
  }
  .soft-skills-container {
    order: 3;
  }
  .portfolio-content > p {
    width: 50%;
  }
  .hamburger-menu-container, .arrow-up-container {
    display: none;
  }
  .navbar-container {
    display: flex;
  }
  .navbar-toggle-container,
  .navbar-toggle-decoration {
    display: block;
  }
  .education:hover {
    height: 39rem;
  }
  .career:hover {
    height: 27rem;
  }
  .pubblications:hover {
    height: 59rem;
  }
  .languages:hover {
    height: 22.5rem;
  }
  .volunteering:hover {
    height: 11rem;
  }
  .vol-lan-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  .vol-lan-container > div {
    flex: 1;
  }
}