@import url("https://fonts.googleapis.com/css2?family=Oxygen&family=Prompt:wght@500;700&display=swap");
* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #D0CBCB;
}

body {
  background-color: #252627;
  font-family: "Oxygen", sans-serif;
}

h1 {
  font-family: "Prompt", sans-serif;
  font-weight: 700;
}

h2, h3 {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
}

main {
  width: clamp(160px, 100%, 800px);
  margin: auto;
  transition: opacity 0.3s;
  padding: 0.7rem;
}

a {
  text-decoration: none;
}

.bubble-menu {
  display: none;
  opacity: 0;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50px;
  right: -15px;
  margin-right: 1rem;
  z-index: 10;
  transition: 1s ease-in-out;
}

fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 1.5rem;
}

.section-selector {
  border: 0.2rem solid #D0CBCB;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 3rem;
  padding: 0 0.1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-wrap: break-word;
}

.skills,
.portfolio {
  background-color: #087E8B;
}

.about,
.contacts {
  background-color: #A23415;
}

.hamburger-menu-container, .arrow-up-container {
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  border: 0.2rem solid #D0CBCB;
  background-color: #252627;
  position: fixed;
  z-index: 10;
  bottom: 1.5rem;
  right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-menu-opt {
  position: absolute;
  width: 4.5rem;
  height: 4.5rem;
  opacity: 0;
  cursor: pointer;
}

.opener-opt,
.closer-opt {
  width: 3rem;
  height: 3rem;
}

.opener-opt {
  z-index: 11;
}

.closer-opt {
  z-index: 9;
}

.arrow-up-container {
  bottom: 1.5rem;
  right: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-up-container img {
  width: 100%;
  height: 90%;
}

.hamburger-lines {
  display: block;
  height: 1.3rem;
  width: 1.8rem;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #D0CBCB;
}

.hamburger-lines .line {
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background: #D0CBCB;
}

.hamburger-menu-container .hamburger-lines .line1, .arrow-up-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-menu-container .hamburger-lines .line2, .arrow-up-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.hamburger-menu-container .hamburger-lines .line3, .arrow-up-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-menu-container #opener[type=radio]:checked ~ .bubble-menu, .arrow-up-container #opener[type=radio]:checked ~ .bubble-menu {
  display: flex;
  opacity: 1;
}

.hamburger-menu-container #opener[type=radio]:checked + .closer-opt, .arrow-up-container #opener[type=radio]:checked + .closer-opt {
  z-index: 11;
}

body:has(.hamburger-menu-container #opener[type=radio]:checked, .arrow-up-container #opener[type=radio]:checked) main {
  opacity: 0.07;
}

.hamburger-menu-container #opener[type=radio]:checked ~ .hamburger-lines .line1, .arrow-up-container #opener[type=radio]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.hamburger-menu-container #opener[type=radio]:checked ~ .hamburger-lines .line2, .arrow-up-container #opener[type=radio]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.hamburger-menu-container #opener[type=radio]:checked ~ .hamburger-lines .line3, .arrow-up-container #opener[type=radio]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.navbar-container {
  display: none;
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 0.2;
}
.navbar-container:hover {
  opacity: 1;
  box-shadow: 0 1px 10px 1px #D0CBCB;
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.7rem 0;
  max-width: 800px;
}

.navbar-menu li:hover {
  text-decoration: underline;
}

.logo-menu {
  fill: #D0CBCB;
  width: 5rem;
  height: 2.5rem;
}

.logo {
  fill: #D0CBCB;
  width: 7rem;
}

.main-title {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.easter-egg-container {
  display: inline;
}

.easter-egg-container:hover .psychologist {
  display: none;
}

.easter-egg {
  display: none;
  position: relative;
}

.easter-egg-tooltip {
  display: inline-block;
  position: absolute;
  top: 2.6rem;
  right: 1rem;
  font-family: "Oxygen", sans-serif;
  font-size: 0.5rem;
  border: 1px solid #D0CBCB;
  width: 40%;
}

.easter-egg-container:hover .easter-egg {
  display: inline;
}

.contacts-section, .portfolio-content, .skills-section, .about-section, .summa-section {
  margin-bottom: 3rem;
  width: clamp(160px, 100%, 800px);
}

.summa-section,
.about-content,
.skills-content,
.contacts-content {
  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: 1rem;
  text-align: center;
}

.summa-section {
  border: 0.2rem solid #D0CBCB;
  align-items: center;
  margin-bottom: 3rem;
  padding: 0.7rem;
  border-radius: 0.5rem;
}

.alessandro-fabbian-picture {
  flex: 1;
}
.alessandro-fabbian-picture img {
  width: 100%;
}

.brief-description {
  width: clamp(160px, 100%, 800px);
  flex: 1;
}
.brief-description h2 {
  text-align: center;
}

.about-section h2 {
  margin-bottom: 1rem;
}
.about-section div {
  flex: 1;
  padding: 0.7rem;
  border-radius: 0.5rem;
}

.humanworld {
  background-color: #A23415;
  margin-bottom: 1rem;
}

.techworld {
  background-color: #087E8B;
}

.skills-section div {
  flex: 1;
  padding: 0.7rem;
  border-radius: 0.5rem;
}
.skills-section h2 {
  margin-bottom: 1rem;
}

.soft-skills {
  background-color: #A23415;
}

.hard-skills {
  background-color: #087E8B;
  margin-bottom: 1rem;
}

.portfolio-content {
  margin-bottom: 3rem;
  background-color: #087E8B;
  height: 12rem;
  border-radius: 0.5rem;
  padding: 0.7rem;
}

.contacts-section h2 {
  text-align: center;
  padding-bottom: 1rem;
}
.contacts-section .contacts-content {
  background-color: #A23415;
  border-radius: 0.5rem;
  padding: 0.7rem;
}

.social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.7rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #D0CBCB;
  flex: 1;
}

.git-link,
.linkedin-link {
  width: 5rem;
}
.git-link svg,
.linkedin-link svg {
  fill: #D0CBCB;
}
.git-link:hover svg,
.linkedin-link:hover svg {
  fill: #fff;
}

.contacts-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.contacts-form > * {
  margin: 0.7rem;
  width: 70%;
  background: transparent;
  color: #D0CBCB;
  font-size: 0.9rem;
  border-bottom: 1px solid #D0CBCB;
  font-family: "Oxygen", sans-serif;
}
.contacts-form > *:focus {
  outline: none;
  border: 1px solid #D0CBCB;
  border-radius: 0.5rem;
  box-shadow: inset 0 1px 7px 1px #D0CBCB;
}
.contacts-form > ::placeholder {
  font-family: "Oxygen", sans-serif;
  color: #D0CBCB;
}
.contacts-form input {
  padding: 0.5rem;
  width: 70%;
}
.contacts-form textarea {
  padding: 0.5rem;
  height: 5rem;
  width: 70%;
  resize: none;
}
.contacts-form button {
  width: 20%;
  border: 1px solid #D0CBCB;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.contacts-form button:hover {
  background-color: white;
  cursor: pointer;
  color: #A23415;
  box-shadow: 0 1px 10px 1px #D0CBCB;
}

@media only screen and (min-width: 701px) {
  .summa-section,
  .about-content,
  .skills-content {
    flex-direction: row;
    gap: 1rem;
  }
  .contacts-content {
    flex-direction: row;
  }
  .contacts-content .social-media {
    border-bottom: none;
    border-right: 1px solid #D0CBCB;
    margin-bottom: 0;
  }
  .humanworld,
  .hard-skills {
    margin-bottom: 0;
  }
  .hamburger-menu-container, .arrow-up-container {
    display: none;
  }
  .navbar-container {
    display: block;
  }
}