$background-color: #252627;
$warm-color: #A23415;
$cold-color: #087E8B;
$white: rgb(208, 203, 203);


* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $white;
}

body {
  background-color: $background-color;
}

main {
  padding: 20px;
  max-width: 1500px;
  margin: auto;
}

