$background-color: #252627;
$warm-color: #A23415;
$cold-color: #087E8B;
$white: #D0CBCB;
$predefined-radius: 0.5rem;
$margin-bottom-section: 3rem;
$margin-bottom-p: 1rem;
$padding-section-p: 0.7rem;
$title-font:'Prompt', sans-serif; //500 & 700
$corpus-font: 'Oxygen', sans-serif; //400




@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Prompt:wght@500;700&display=swap');

@mixin main-dimension {
  width: clamp(10rem, 100%, 45rem);}

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $white;
}

body {
  background-color: $background-color;
  font-family: $corpus-font;
}

h1 {
  font-family: $title-font;
  font-weight: 700;
}

h2, h3 {
  font-family: $title-font;
  font-weight: 500;
}

main {
  padding: 20px;
  @include main-dimension;
  margin: auto;
  transition: opacity 0.3s;
  }

a {
  text-decoration: none;
}

