
.curriculum-title {
  padding-top: 3rem;

  a:hover {
    text-decoration: underline;
  }
}

.cv-section-container {
  position: relative;

  h2 {
    padding-right: 1rem;
    margin-bottom: .5rem;
    display: inline-block;
    vertical-align: center;
  }

  input {
    position: absolute;
    z-index: 100;
    width: 2rem;
    height:2rem;
    opacity: 0;
    cursor:pointer;
  }
  
  input[type='checkbox']:checked ~ svg {
    transform:rotate(-180deg);
  }

  svg { 
    width: 2rem;
    fill: $white;
    transition:transform .5s;
    display: inline-block;
    margin-top: .2rem;
    vertical-align: top;
  }
}

.cv-section {
  margin-bottom: $margin-bottom-section;
  @include main-dimension;
  background-color: $white;
  padding: $padding-section-p;
  height: 5rem;
  border-radius: $predefined-radius;
  overflow: hidden;
  position: relative;
  p {
    color: $background-color;
  }
}

.cv-section>div {
  margin-bottom: .5rem;
  ul {
  color: $background-color;
  list-style-type: circle;
  margin-left: 1rem;
  }

  a {
    color: $background-color;
    }
}


#education:checked ~ .education {
  height: 39rem;
}

#career:checked ~ .career {
  height: 27rem;
}

#pubblications:checked ~ .pubblications {
  height: 59rem;
}

#volunteering:checked ~ .volunteering {
  height: 11rem;
}

#languages:checked ~ .languages {
  height: 22.5rem;
}

.education {
  transition: height 1.5s linear 0s;
}

.career {
  transition: height 1s linear 0s;
}

.pubblications {
  transition: height 3s linear 0s;
}

.volunteering {
  transition: height .7s linear 0s;
}

.languages {
  transition: height 1s linear 0s;
}


//contenuto delle sezioni


.cvpart-title {
  font-family: $title-font;
  font-weight: 700;
}

.cvpart-subtitle {
  font-family: $title-font;
  font-weight: 500;
  font-style: italic;
}

.cvpart-content {
  font-family: $corpus-font;
}

.cvpart-content span {
  font-style: italic;
  color: $background-color;
}

//HAMBURGER MENU CURRICULUM STYLE

.home-container {
  right: 9rem;
  svg {
    width: 60%;
    fill:$white;
  }
}

.cv-section-selector {
  height: 2rem;
  width: 105%;
  background-color: $background-color;
}

