@media only screen and (min-width:701px) {
  h1 {
    font-size: 2.5rem;
   }
 
   h2 {
     font-size: 2rem;
   }
   
   h3 {
     font-size: 1.5rem;
   }


   //MAIN 

.main-title {
  padding-top: 5rem;
}

.summa-section,
.about-content,
.skills-content {
  flex-direction: row;
  gap: 1rem;
}

.contacts-content {
  flex-direction: row;
  .social-media {
    border-bottom: none;
    border-right: 1px solid $white;
    margin-bottom: 0;
  }
}

.humanworld,
.soft-skills-container {
  margin-bottom: 0;
}

.soft-skills-container {
  order: 3;
}

//FINE MAIN


//NAVBAR

//.hamburger-menu-container {display:none;}

.hamburger-menu-container {
  display: none;
}

.navbar-container {
  display: flex;
}
}