@media only screen and (min-width:701px) {
  //MAIN 

  .main-title {
    padding-top: 5rem;
  }
.summa-section,
.about-content,
.skills-content {
  flex-direction: row;
  gap: 1rem;
}

.contacts-content {
  flex-direction: row;
  .social-media {
    border-bottom: none;
    border-right: 1px solid $white;
    margin-bottom: 0;
  }
}

.humanworld,
.hard-skills {
  margin-bottom:0;
}

//FINE MAIN


//NAVBAR

//.hamburger-menu-container {display:none;}

.hamburger-menu-container {
  display: none;
}

.navbar-container {
  display: flex;
}
}