@media only screen and (min-width: 701px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  //MAIN

  .main-title {
    padding-top: 5rem;
  }

  .summa-section,
  .about-content,
  .skills-content {
    flex-direction: row;
    gap: 1rem;
  }

  .contacts-content {
    flex-direction: row;
    .social-media {
      border-bottom: none;
      border-right: 1px solid $white;
      margin-bottom: 0;
    }
  }

  .humanworld,
  .soft-skills-container {
    margin-bottom: 0;
  }

  .soft-skills-container {
    order: 3;
  }

  .portfolio-content > p {
    width: 50%;
  }

  //FINE MAIN

  //NAVBAR

  .hamburger-menu-container {
    display: none;
  }

  .navbar-container {
    display: flex;
  }

  .navbar-toggle-container,
  .navbar-toggle-decoration {
    display: block;
  }

  //FINE NAVBAR

  //PAGINA CURRICULUM

  .education:hover {
    height: 39rem;
  }

  .career:hover {
    height: 25rem;
  }

  .pubblications:hover {
    height: 47rem;
  }

  .languages:hover {
    height: 8rem;
  }

  .volunteering:hover {
    height: 11rem;
  }

  .vol-lan-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    & > div {
      flex: 1;
    }
  }
} //graffa di fine query
