//HAMBURGER-MENU

.bubble-menu {
  display: none;
  opacity: 0;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50px;
  right: -15px;
  margin-right: 1rem;
  z-index:10;
  transition: 1s ease-in-out;
  }

  
  fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 1.5rem;
    }

    .section-selector {
  border: 0.2rem solid $white;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 3rem;
  padding: 0 0.1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-wrap: break-word;
}
.skills,
.portfolio {
  background-color: $cold-color;
}

.about,
.contacts {
  background-color: $warm-color;
}

//SEZIONE PER EFFETTO HOVER DA DESKTOP

// .section-selector {
//   transition: 0.3s;
  
//   &:hover {
//     box-shadow: 0 1px 10px 1px $white;
//   }
  
//   &:active {
//     box-shadow: none;
//   }
// }

// .hamburger-form:has(.section-selector:hover) .section-selector:not(.section-selector:hover) {
//   opacity: 0.4;
// }

//FINE EFFETTO HOVER


.hamburger-menu-container {
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  border: 0.2rem solid $white;
  background-color: $background-color;
  position: fixed;
  z-index: 10;
  bottom: 1.5rem;
  right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-menu-opt {
  position: absolute;
  width: 4.5rem;
  height: 4.5rem;
  opacity: 0;
  cursor: pointer;
}

.opener-opt,
.closer-opt {
  width: 3rem;
  height: 3rem;
}

.opener-opt {
  z-index: 11;
}

.closer-opt {
  z-index:9;
}


.arrow-up-container {
  @extend .hamburger-menu-container;
  bottom: 1.5rem;
  right: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
    img {
      width:100%;
      height: 90%;
    }
}

.hamburger-lines {
  display: block;
  height: 1.3rem;
  width: 1.8rem;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: $white;
}

.hamburger-lines .line {
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background: $white;
}

.hamburger-menu-container .hamburger-lines .line1 {
  transform-origin: 10% 0%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-menu-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.hamburger-menu-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-menu-container #opener[type="radio"]:checked ~ .bubble-menu{
  display: flex;
  opacity: 1;
}

.hamburger-menu-container #opener[type="radio"]:checked + .closer-opt {
  z-index: 11;
}

body:has(.hamburger-menu-container #opener[type="radio"]:checked) main {
  opacity: 0.07;
}

.hamburger-menu-container #opener[type="radio"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.hamburger-menu-container #opener[type="radio"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.hamburger-menu-container #opener[type="radio"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

//FINE HAMBURGER MENU


//NAVBAR



.navbar-container {
  display: none;
  width: 100%;
  justify-content: center;
  position: sticky;
  top: 20px;


}

.navbar-menu {
  list-style-type: none;
  display: none;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  padding-top: .4rem;
  width: 100%;
  background-color: $background-color;
  box-shadow: 0 1px 10px 1px $white;
  border-bottom: 1px solid $white;
  opacity: 0;
}

.navbar-menu li {
  &:hover {
    text-decoration: underline;
  }

  &:nth-child(5) {
    margin-right:3rem;
  }
}

.logo-menu {
  fill: $white;
  width: 5rem;
  height: 3rem;
  
}

.navbar-toggle-decoration {
  display: none;
  position:fixed;
  right:-3.8rem;
  top:-3.8rem;
  border: 0.2rem solid $white;
  width: 8rem;
  height: 8rem;
  border-radius: 150rem;
  background-color: $background-color;
  transition: .3s;
}

.navbar-toggle-container {
  display: none;
  position: fixed;
  top: .7rem;
  right: .5rem;
  z-index: 100;
  cursor: pointer;

}

.navbar-toggle-container {
  opacity: .5;
  &:hover {
    opacity:1;
  }
}

.navbar-toggle-decoration:hover ~.navbar-toggle-container {
  opacity: 1;
}

.navbar-lines {
  display: flex;
  height: 1.5rem;
  width: 2.3rem;
  z-index: 9;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: $white;

}

.navbar-lines .line {
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background: $white;

}

.navbar-toggle {
  position: absolute;
  height: 1.7rem;
  width: 2rem;
  opacity: 0;
  z-index: 100;
  cursor: pointer;

}

header:has(.navbar-toggle-container #navbar-toggle[type="checkbox"]:checked) .navbar-container>.navbar-menu {
display:flex;
opacity:1;
} 

header:has(.navbar-toggle-container #navbar-toggle[type="checkbox"]:checked) .navbar-toggle-decoration {
  opacity: 0;
} 

header:has(.navbar-toggle-container #navbar-toggle[type="checkbox"]:checked) .navbar-toggle-container {
  opacity: 1;
} 

.navbar-toggle-container #navbar-toggle[type="checkbox"]:checked ~ .navbar-lines .line1 {
  transform: rotate(45deg);
}

.navbar-toggle-container #navbar-toggle[type="checkbox"]:checked ~ .navbar-lines .line2 {
  transform: scaleY(0);
}

.navbar-toggle-container #navbar-toggle[type="checkbox"]:checked ~ .navbar-lines .line3 {
  transform: rotate(-45deg);
}

.navbar-lines .line1 {
  transform-origin: 10% 0%;
  transition: transform 0.4s ease-in-out;
}

.navbar-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.navbar-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}


// FINE NAVBAR