@import "_config.scss"; //regole generali
@import "menu"; //menu da desktop e da mobile




//MAIN
//inizio sezione summa

h1 {
  margin-bottom: 1rem;
    text-align: center;
}

.summa-section {
  @include main-dimension;
  border: 0.2rem solid $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $margin-bottom-section;
  padding: $padding-section-p;
  border-radius: $predefined-radius;
}

.alessandro-fabbian-picture {
  flex:1;
  img {
    width: 100%;
    margin-bottom: $margin-bottom-p
  }
}

.brief-description {
  @include main-dimension;
  flex: 1;
  h2 {
    text-align: center;
  }
}

//fine sezione summa

//inizio sezione about

.about-section {
  display: flex;
  flex-direction: column;
  @include main-dimension;
    div {
      flex: 1;
      padding: $padding-section-p;
      border-radius: $predefined-radius;
    }

    h2 {
      margin-bottom: $margin-bottom-p;
    }
}

.humanworld {
  background-color: $warm-color;
  margin-bottom: $margin-bottom-p;
}

.techworld {
  background-color: $cold-color;
  margin-bottom: $margin-bottom-section;
}

//fine sezione about

//inizio sezione skills
.skills-section {
  display: flex;
  flex-direction: column;
  @include main-dimension;
    div {
      flex: 1;
      padding: $padding-section-p;
      border-radius: $predefined-radius;
    }

    h2 {
      margin-bottom: $margin-bottom-p;
    }
}

.soft-skills {
  background-color: $warm-color;
}

.hard-skills {
  background-color: $cold-color;
  margin-bottom: $margin-bottom-p;
}
//fine sezione skills

