@import "config"; //regole generali
@import "menu"; //navbar da desktop e hamburger menu da mobile

//MAIN

.main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  fill: $white;
  width: 7rem;
  margin-bottom: $margin-bottom-p;
}

.easter-egg-container {
  display: inline;
}

.easter-egg-container:hover .psychologist{
  display: none;
  }

.easter-egg {
  display: none;
  position: relative;
  }

  .easter-egg-tooltip {
    display: inline-block;
    position: absolute;
    top: 3.4rem;
    right: .5rem;
    font-family: $corpus-font;
    font-size: .7rem;
    border: 1px solid $white;
    width: 40%;
  }

  .easter-egg-container:hover .easter-egg {
  display: inline;
  }

//INIZIO SECTIONS
%section-features {
  margin-bottom: $margin-bottom-section;
  @include main-dimension;
}

.summa-section,
.about-content,
.skills-content,
.contacts-content {
  display: flex;
  flex-direction: column;
}

//inizio sezione SUMMA

h1 {
  margin-bottom: 1rem;
  text-align: center;
}

.summa-section {
  @extend %section-features;
  border: 0.2rem solid $white;
  align-items: center;
  margin-bottom: $margin-bottom-section;
  padding: $padding-section-p;
  border-radius: $predefined-radius;
}

.alessandro-fabbian-picture {
  flex:1;
  img {
    width: 100%;
    border-radius: $predefined-radius
  }
}

.brief-description {
  @include main-dimension;
  flex: 1;
  h2 {
    text-align: center;
  }
}

//fine sezione SUMMA


//inizio sezione ABOUT

.about-section {
 @extend %section-features;
  
  h2 {
    margin-bottom: $margin-bottom-p;
  } 

  h3 {
    border-bottom: 1px solid $white;
    margin-bottom:calc($margin-bottom-p*.7);
  }
  
  div {
      flex: 1;
      padding: $padding-section-p;
      border-radius: $predefined-radius;
    }

}

.humanworld {
  background-color: $warm-color;
  margin-bottom: $margin-bottom-p;

  ul {
    list-style-type: circle;
    margin-left: 1rem;
  }

  a {
    text-decoration: underline;
  }
}

.techworld {
  background-color: $cold-color;
  
}

//fine sezione ABOUT

//inizio sezione SKILLS
.skills-section {
  @extend %section-features;
    div {
      flex: 1;
      padding: $padding-section-p;
      border-radius: $predefined-radius;
    }

    h2 {
      margin-bottom: $margin-bottom-p;
    }

    h3 {
      border-bottom: 1px solid $white;
      margin-bottom:calc($margin-bottom-p*.7);
    }
}

.soft-skills-container {
  background-color: $warm-color;
  margin-bottom: $margin-bottom-p;
  order: 1;
}

.soft-skills-icons {
display: flex;
flex-wrap: wrap;

  svg {
  fill: $white;
  max-width: 5rem;
}

 &>div {
  flex-basis: 50%;
 }
}

.soft-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  p {
    padding-top: .5rem;
    text-align: center;
  }
}

.teamwork {
  margin-top: .7rem;
}

.training>p {
  margin-top: .7rem; 
}

.hard-skills-container {
  background-color: $cold-color;
  order: 2;
  display: flex;
  flex-direction: column;
}

.hard-skills-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  >p {
    font-size: .7rem;
  }
}

.hard-skills-icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.web-developing-skills {

  display: flex;
  flex-direction: column;
  align-items: center;
  
  svg {
    fill: $white;
    max-width: 6rem;
  }
}


//fine sezione SKILLS

//inizio sezione PORTOFLIO

.portfolio-content {
  @extend %section-features;
  margin-bottom: $margin-bottom-section;
  background-color: $cold-color;
  height: 12rem;
  border-radius: $predefined-radius;
  padding: $padding-section-p;
}

.portfolio-content {
  padding: $padding-section-p;

}

//fine sezione PORTFOLIO

//inizio sezione CONTACTS
.contacts-section {
  @extend %section-features;

  h2 {
   text-align: center;
   padding-bottom: $margin-bottom-p;
  }

  .contacts-content {
    background-color: $warm-color;
    border-radius: $predefined-radius;
    padding: $padding-section-p;
  }
}

.social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: $padding-section-p;
  margin-bottom: $margin-bottom-p;
  border-bottom: 1px solid $white;
  flex: 1;
}

.git-link,
.linkedin-link {
  width: 5rem;
  

  svg {
    fill: $white;
  }
  
  &:hover svg {
    fill: #fff;
  }
}


.contacts-form {
 display: flex;
 flex-direction: column;
 align-items: center;
 flex: 1;
 

  > * {
    margin: $padding-section-p;
    width: 70%;
    background: transparent;
    color: $white;
    font-size: .9rem;
    border-bottom: 1px solid $white;
    font-family: $corpus-font;


    
    &:focus {
      outline: none;
      border: 1px solid $white;
      border-radius: $predefined-radius;
      box-shadow: inset 0 1px 7px 1px $white;
    }
  }

    >::placeholder {
      font-family: $corpus-font;
      color: $white;
    }

    input {
      padding: .5rem;
      width: 70%;
    }

    textarea {
      padding: .5rem;
      height: 5rem;
      width: 70%;
      resize: none;
    }

    button {
      width: 20%;
      border: 1px solid $white;
      border-radius: $predefined-radius;
      padding: .5rem;

    &:hover {
      background-color: white;
      cursor: pointer;
      color: $warm-color;
      box-shadow: 0 1px 10px 1px $white;


    }
  }
}

//INIZIO MEDIA QUERIES
@import "desktop"

//FINE MEDIA QUERIES